body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 0%;
}




.top-page {
    background-image: url(images/donation13.jpg);
    color: white;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.donate-now {
    text-align: center;
    padding-top: 80px;

}

.donate-now h1 {
    text-align: center;
    font-size: 60px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);

    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.flexible-container {


    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;

}

.box-ammount {
    box-shadow: inset 0px 0px 10px gray;

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 3px;


}

.box-button {
    text-align: center;
    padding: 40px;

}

#edit-box {
    color: tomato;
    border: 2px solid tomato;
}

.donate-today {
    text-align: center;
    padding-top: 80px;
}

.donate-today h1 {
    font-size: 50px;
}

.donate-today p {
    color: gray;
}